<%= form_with(model: user, local: true) do |form| %>
  <%= render 'shared/errors', obj: @user %>


  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control", id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "Enter password" %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up", class: 'btn btn-primary btn-lg' %>


  </div>
<% end %>
